In [1]:
x=("apple","banana","cherry")
y=("orange",)
x+=y

print(x)

('apple', 'banana', 'cherry', 'orange')

In [3]:
thistuple=("apple","banana","cherry")
y=list(thistuple)
y.remove("banana")
thistuple=tuple(y)

print(thistuple)

('apple', 'cherry')

In [4]:
fruits=("apple","banana","cherry")
(green,yellow,red)=fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [5]:
fruits=("apple","banana","cherry","strwberry","raspberry")
(green,yellow,*red)=fruits

print(green)
print(yellow)
print(red)
print(type(red))

apple
banana
['cherry', 'strwberry', 'raspberry']
<class 'list'>

In [6]:
fruits=("apple","mango","papaya","pineapple","cherry")
(green,*tropic,red)=fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

In [9]:
thistuple=("apple","banana","cherry")
for i in range(len(thistuple)):
    print(thistuple[i])

apple
banana
cherry

In [10]:
thistuple=("apple","banana","cherry")
for x in thistuple:
    print(x)

apple
banana
cherry

In [11]:
tuple1=("a","b","c")
tuple2=(1,2,3)
tuple3=tuple1+tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [12]:
fruits=("apple","banana","cherry")
mytuple=fruits*3
print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

In [13]:
myset={"apple","banana","cherry"}
print(myset)

{'apple', 'banana', 'cherry'}

In [14]:
myset={"apple","banana","cherry"}
myset

{'apple', 'banana', 'cherry'}

In [15]:
myset={"apple","banana","cherry","apple"}
print(myset)

{'apple', 'banana', 'cherry'}

In [16]:
myset={"apple","banana","cherry",1,True,1,2}
print(myset)

{1, 'apple', 2, 'banana', 'cherry'}

In [17]:
myset={"apple","banana","cherry"}
print(len(myset))

3

In [18]:
myset=set(("apple","banana","cherry"))
print(myset)

{'apple', 'banana', 'cherry'}

In [22]:
myset={"apple","banana","cherry"}
for x in myset:
    print(x)

apple
banana
cherry